/* (0) Quita los espacios molestos que vienen por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
}

/* COLORES DE LAS LETRAS TETRIS */
.rojo {
  color: #ef4444;
}
.naranja {
  color: #f97316;
}
.amarillo {
  color: #facc15;
}
.verde {
  color: #22c55e;
}
.cian {
  color: #06b6d4;
}
.azul {
  color: #3b82f6;
}
.purpura {
  color: #a855f7;
}

/* LA CUADRÍCULA: Cómo se ordenan las secciones */
.contenedor-principal {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna para que todo vaya hacia abajo */
}

/* LA PORTADA NEGRA */
.portada {
  background-color: #000;
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column; /* Pone el título arriba y el párrafo abajo */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TÍTULO TETRIS EN HORIZONTAL */
.titulo-tetris {
  display: flex;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 10px;
  font-size: 60px;
  margin-bottom: 15px;
}

/* ESTILO GENERAL DE LAS SECCIONES */
.espacio-trabajo {
  padding: 60px 10%;
  text-align: center;
}

/* LA BARRA DE ARRIBA (ENCABEZADO) */
.encabezado {
  background: #000;
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, botones a la derecha */
  padding: 20px;
  align-items: center;
}

.logo {
  height: 50px;
}

/* BOTONES DEL MENÚ */
.botones-navegacion {
  display: flex;
  list-style: none; /* Quita los puntitos de la lista */
  gap: 15px;
}

.botones-navegacion a {
  color: white;
  text-decoration: none; /* Quita el subrayado de los links */
  font-size: 10px;
}

.pie {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

/*CSS SECCION GAMEPLAY EILEEN */

.subtitulo-seccion {
  margin-bottom: 30px;
  font-size: 20px;
}
.contenedor-video {
  margin: 40px 0;
}
